:root {
  overflow: hidden;
  font-size: 62.5%;

}

.App {

  padding-top: 30vh;

  height: 100vh;
  width: 100vw;

  text-align: center;
  background:  #5F4A70;

}

.input {
  border: none;
  width: 4vw;

  margin:0 3rem;
  height:3rem;
  background: none;
  font-size: 30px;
  font-weight: 900;


  display: inline-flex;
}




.button {
  border: none;
  height: 3rem;

  border-radius: 20px;
  margin:0 3rem;
  margin-top: 3rem;
  box-shadow:  .3rem .5rem  .8rem black;
  transition: all .2s;
  width: 3%;
}

.button:hover{
 /* transform: translateY(-5px) scale(1.1);
  background-color: #eee;
  box-shadow:  2px 1px black*/

  color: black;
  cursor: pointer;

}

button:disabled {
  box-shadow: none;
}


.incDec {
  border: none;
  height: 3rem;
  cursor: pointer;
  border-radius: 20px;
  margin:0 1rem;
  /*box-shadow:  .3rem .5rem  .8rem black;*/
  background-color: transparent;
  color: black;
  font-size: 2rem;
  transition: all .2s;
  width: 3rem;
}


.logo {
  /*position: relative;
  top: -70%;
  left: -33%;

  height: 50px;*/

    position:absolute;
    left:1%;
    top:4%;
    height: 6rem;
}

.h1{
  color: #eee;
  text-shadow: .3rem .5rem  .3rem black;
  cursor: default;
  font-size: 4rem;
}


.timer {
  display: flex;
  justify-content: center;
}

/*media queries*/

@media only screen and (max-width: 600px) {


  .input {
    width: 8rem;
    height: 6rem;
    font-size: 5rem;
    margin-top: -10rem;
  }

  .button {
    height: 4rem;
    width: 4rem;

    margin-top: 10rem;
  } 

  .h1 {
    font-size: 10rem;
    margin: 0;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 500px) {


  .input {
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
    margin-top: -10rem;
  }

  /*.button {
    height: 4rem;
    width: 4rem;

    margin-top: 10rem;
  } 

  .h1 {
    font-size: 10rem;
    margin: 0;
    margin-top: 5rem;
  }*/

}

@media only screen and (max-width: 600px) {


  .input {
    width: 4rem;
    height: 8rem;
    font-size: 3rem;
    margin-top: -10rem;
  }

  .button {
    height: 4rem;
    width: 4rem;

    margin-top: 10rem;
  } 

  .h1 {
    font-size: 8rem;
    margin: 0;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 300px) {


  .input {
    width: 2rem;
    height: 6rem;
    font-size: 3rem;
    margin-top: -10rem;
  }

  .button {
    height: 4rem;
    width: 4rem;

    margin-top: 10rem;
  } 

  .h1 {
    font-size: 10rem;
    margin: 0;
    margin-top: 5rem;
  }
}